model_config_list: {
    config: {
        name: "deepix",
        base_path: "/models/deepix",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    },
    config: {
        name: "acgvoc2vec",
        base_path: "/models/acgvoc2vec",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    },
    config: {
        name: "illust2vec",
        base_path: "/models/illust2vec",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    }
}
