model_config_list: {
    config: {
        name: "acgvoc2vec",
        base_path: "/models/acgvoc2vec",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    },
    config: {
        name: "img_semantics_feature_extract_model",
        base_path: "/models/img_semantics_feature_extract_model_f32_base64_input",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    },
    config: {
        name: "dclip_text",
        base_path: "/models/dclip_text",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    },
    config: {
        name: "pix2score",
        base_path: "/models/pix2score_base64_input",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    },
    config: {
        name: "deepdanbooru",
        base_path: "/models/deepdanbooru_base64input",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    }
    }
}